bin/bin/arduino*
bin/bin/elm
bin/bin/gitmux
bin/bin/lazygit
bin/bin/lunatask
bin/bin/ngrok
bin/bin/obsidian
bin/bin/openapi*
bin/bin/poetry
bin/bin/postman
bin/bin/python
bin/bin/shadow
bin/bin/stripe
bin/bin/task
bin/bin/validated_pr_for_release.sh
nvim/.config/nvim/.luarc.json
snippets/personal*
ssh*
