configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}
//@theme "/home/vianney/.config/rofi/themes/rounded-purple-dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
