
alias e=$EDITOR
alias v=view
alias -g JSON="| python -m json.tool"
alias ls="eza --icons"
alias tree="eza --tree --icons"
alias less=batcat
alias a="source .venv/bin/activate"
alias say="espeak -v us-mbrola-1"
alias fd="fdfind --type f --hidden --exclude .git"
alias avante='nvim -c "lua vim.defer_fn(function()require(\"avante.api\").zen_mode()end, 100)"'
alias _='sudo'

# Git aliases
alias g='git'
alias ga='git add'
alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit --no-verify --no-gpg-sign --message "--wip-- [skip ci]"'
alias gunwip='git rev-list --max-count=1 --format="%s" HEAD | grep -q "\--wip--" && git reset HEAD~1'
alias gb='git branch'
alias gba='git branch --all'
alias gbm='git branch --move'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gcm='git checkout main'
alias gcM='git checkout master'
alias gcp='git cherry-pick'
alias gcpa='git cherry-pick --abort'
alias gcpc='git cherry-pick --continue'
alias gc='git commit --verbose'
alias gd='git diff'
alias gf='git fetch'
alias glol='git log --graph --pretty="%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset"'
alias glog='git log --oneline --decorate --graph'
alias gl='git pull'
alias gp='git push'
alias gpf='git push --force-with-lease --force-if-includes'
alias gpu='git push upstream'
alias grb='git rebase'
alias grbm='git rebase main'
alias grbM='git rebase master'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbi='git rebase --interactive'
alias gsh='git show'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsts='git stash show --patch'
alias gst='git status'

# Docker aliases
alias d='docker'
alias dps='docker ps'

# cd aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'
alias -- -='cd -'
